<div
  style="
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    padding-left: 20px;
  "
>
  <p>
    Note that you can book blocked off dates and the disabled dates templated
    does not correctly apply.
  </p>
  <p-calendar
    [(ngModel)]="rangeDates"
    selectionMode="range"
    [disabledDates]="disabledDates"
    [touchUI]="touchUI()"
  >
    <ng-template pTemplate="disabledDate" let-date>
      <span style="text-decoration: line-through">
        {{ date.day }}
      </span>
    </ng-template>
  </p-calendar>
  <p>
    Selected dates according to the ngModel binding: {{ rangeDates | json }}
  </p>
</div>

<router-outlet></router-outlet>
